accelerate==1.10.0
einops==0.8.1
flash_attn==2.8.2
jieba==0.42.1
matplotlib==3.10.5
modelscope==1.28.2
numpy==2.3.2
openai==1.99.9
openpyxl==3.1.5
pandas==2.3.1
scikit_learn==1.7.1
seaborn==0.13.2
sentence_transformers==5.1.0
sentencepiece==0.2.0
tokenizers==0.21.4
torch==2.7.1
tqdm==4.67.1
transformers==4.53.1
